@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

html{
background-color: #f6d33c;
}
.img{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  flex-direction: row;

  }

.jp{
  text-align: center;
}
@media screen and (max-width: 480px) {
  .img{
    display: flex;
    justify-content: center;

    width: 100%;
    

    }
}
